#root {
  width: 100%;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  min-width: 100%;
  padding-left: 14rem;
}

.content {
  position: fixed;
  min-width: 85%;
  max-width: 85%;
  padding: 20px;
  left: 15%;
}

.sidebar {
  width: 15%;
  background-color: #343a40;
  /* Color Bootstrap dark */
  height: 100%;
  position: fixed; 
  top: 0;
  left: 0;
  overflow-x: hidden;
  /* padding-top: 1rem; */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  color: white;
}

.sidebar li {
  padding: 8px;
  font-size: 1.25rem;
  text-align: left;
  color: white;
}

header {
  background-color: #000000;
  color: white;
  padding: 15px;
  text-align: center;
  top: 0;
  position: fixed;
  min-width: 90%;
  max-width: 90%;
  height: 5rem;
  left: 15%;
}

footer {
  background-color: black;
  color: white;
  padding: 15px;
  text-align: center;
  align-items: center;
  bottom: 0;
  position: fixed;
  min-width: 90%;
  max-width: 90%;
  height: 3.5rem;
  left: 15%;
}

body {
  margin: 0;
  position: absolute;
  top: 5rem;
  bottom: 3.5rem;
  padding: 0;
}

.nav-item {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}

.nav-item:hover {
  color: #e7f253;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  .nav-item:hover {
    color: #e7f253;
  }
  button {
    background-color: #f9f9f9;
  }
}

.logo-img {
  width: 8rem;
  height: 5rem;
  margin-top: .5rem;
  align-content: center;
  align-items: center;
}

.logo-titulo {
  font-size: 1.5rem;
  color: #fff700;
}
.divmenu {
  margin-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texto {
  font-size: 1.5rem;
  color: #1f085e;
}

::-webkit-scrollbar {
  display: none;
}